In [33]:
import numpy as np
import pandas as pd

In [5]:
myList = ["Ross", "Joey", "Chandler", "Rachel"]
myList[3]

'Rachel'

In [17]:
myList[0:3]

['Ross', 'Joey', 'Chandler']

In [19]:
myList[::2]

['Ross', 'Chandler']

In [21]:
myList[::3]

['Ross', 'Rachel']

In [23]:
myList[-2]

'Chandler'

In [25]:
myList[::-1]

['Rachel', 'Chandler', 'Joey', 'Ross']

In [27]:
dna_seqs = ['ATGGGACTGCCCTTGATGCCTCACGTATCCAAAAGCGTATCATGGAGCACTCGGAAACGCACTATAGCAATACCAGACCGTGATATACAACCAGATCACTCTACGATTAAACGACTGCGCCGCCGTATTGCGCTGCTTATCCGAGAAGCAGTCCCTCGTGCGACGCAGCACCAAGAACAAGTCTCAGAGTACCTTTGGACGTATGACTTCAGGATCGAGTCGGCGGCTAGGTTCTATGGGGAGCTCCGTGATAGGTCATCTAGACAGGGTGTGTATTATTTGAGAGTAAAACGAAATCCTCCTCGCATGTACGGGTCAATGGAATTCCCGGTCAGA',
            'ATGGACACCTGGACATACTCCCAAGAGGCTGGAGCAGTGCCCCATTCCTCGGTGCCTCAAGTTCTGGGAATGTGCAATCCTCCGCGAGACATTCAAGGTTTCAGACCACGCGATCGGGTTAAGATACTATCTCAAGTACTTCTTTCGTGTAAGGCACCACTAGAATTGCTTACTTATCCAGGCGGACAAACTGCAATCCTATCTTCATGGGGGGTAGATTTACCATTTTGTAAGAATCTAGACGCACCACGTGGGCGTAGCGACAGGGAGACACAATGGAGCTGCATGATATGGCGGGATCCAAGATCCATGGCGAGCGCGTCATACTTTAGGTGC',
            'ATGGTGCGCACGATTGAGTTGGAATTAGTCCCCAGACTGGCGACCATTACATACACCCTCCACCTTCCACGTCGGTTCAGCACGGGGTGGTGTTTCTCTCCAACACGAGGCCCGGGCGAATTAGTATTGATAATGCCTGGGCAGACAGCACTGGCCCGGCAGGAGATACTGGGCGATGGAAGACGTGGGTTAAGGCACGTCGGTTCTCTAGGTTTTCTATACTGGGCACGGAAGTTAGGGGCTAAAGAGCAACATACCTCTCCGCTGTCGGTCGATAGTGAGTCTTGCATAGCGATTGCTAAGAGCCTAGTTAAGCATACTCGTAACCGCGCCGCG',
            'ATGCCTCCCGGTATCGCTGAGGCCCTAGCAAACGCACAGATCAACCAACTTGTGTCTAACGCCATGGGATCTGCCGCATTAGCTAACAATATTACGCCTATAACGCACGGCTTACCTTTCAAATGTGCTGACCAAGTGGCCTCGATACAATTAGGGACTACAGGGGATAGATGTGCAAGTTTGTTTCTATCAGCGCCGGTGATTCTACGACCGTGTAATCAGAGGGCAGCGAAGATGGATAAGGGGTTGACCAACATGCTCAGTAATGATCCAGGAGCCGGTTATGCCATGCGAATATGCATGTGCACAGTAGCCGGGAGAGCTTGTATTCGTATA',
            'ATGACCCCACGCGGACCGTCAGGAGAAATCCTCTCACGGGATCCCGTCACTGTAACGCTCAGGGTCTTACGGCAACTCGAATGCTGTCGAAAATGTGGCAGTCAATCTCTATACCGGGGTCCGAGCTTTTTACATGTAATTTTGCAAGAATTCTTATATAGCACGATGAGACACGTACCCGATCACTTCGCCCAGCATACACTGATTAATACCGTCTATGTGATGTATTTACTTAAGACTCTCGCAACACCCGTGGCTTGGCGAAGTCTATCTGCACTAGTCGGGTCAGCCGTGCGGCGCGCACACACATCAAAGTGGCCGCAGTTGAGCGCAGTG']
len(dna_seqs[1])

336

In [29]:
dna_seqs[1]

'ATGGACACCTGGACATACTCCCAAGAGGCTGGAGCAGTGCCCCATTCCTCGGTGCCTCAAGTTCTGGGAATGTGCAATCCTCCGCGAGACATTCAAGGTTTCAGACCACGCGATCGGGTTAAGATACTATCTCAAGTACTTCTTTCGTGTAAGGCACCACTAGAATTGCTTACTTATCCAGGCGGACAAACTGCAATCCTATCTTCATGGGGGGTAGATTTACCATTTTGTAAGAATCTAGACGCACCACGTGGGCGTAGCGACAGGGAGACACAATGGAGCTGCATGATATGGCGGGATCCAAGATCCATGGCGAGCGCGTCATACTTTAGGTGC'

In [35]:
dna_dims = np.ndarray((5, 5, 336))
dna_dims

array([[[1.21185912e-311, 1.21183891e-311, 2.39785524e-312, ...,
         2.16443571e-312, 2.48273508e-312, 2.46151512e-312],
        [6.79038653e-313, 2.14321575e-312, 2.05833592e-312, ...,
         6.79038653e-313, 2.33419537e-312, 2.46151512e-312],
        [2.14321575e-312, 6.79038654e-313, 2.35541533e-312, ...,
         9.54898106e-313, 9.54898106e-313, 9.54898106e-313],
        [9.54898106e-313, 9.54898106e-313, 9.54898106e-313, ...,
         2.14321575e-312, 2.44029516e-312, 2.35541533e-312],
        [2.01589600e-312, 2.05833592e-312, 2.05833592e-312, ...,
         2.22809558e-312, 2.48273508e-312, 2.05833592e-312]],

       [[2.29175545e-312, 2.44029516e-312, 2.05833592e-312, ...,
         6.79038654e-313, 2.20687562e-312, 2.12199580e-313],
        [6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         2.44029516e-312, 2.29175545e-312, 9.76118064e-313],
        [2.33419537e-312, 2.14321575e-312, 2.05833592e-312, ...,
         2.44029516e-312, 2.22809558e-312, 6.79038654e-313],
        [2.20687562e-312, 6.79038654e-313, 2.44029516e-312, ...,
         2.33419537e-312, 8.70018275e-313, 2.12199579e-313],
        [6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         2.05833592e-312, 1.23075756e-312, 6.79038653e-313]],

       [[6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         2.44029516e-312, 2.12199579e-312, 2.05833592e-312],
        [6.79038654e-313, 2.35541533e-312, 2.20687562e-312, ...,
         2.16443571e-312, 2.05833592e-312, 2.14321575e-312],
        [9.76118064e-313, 2.54639495e-312, 2.05833592e-312, ...,
         6.79038653e-313, 6.79038653e-313, 6.79038653e-313],
        [6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         9.76118064e-313, 2.35541533e-312, 2.14321575e-312],
        [2.12199579e-313, 6.79038653e-313, 6.79038653e-313, ...,
         6.79038653e-313, 6.79038653e-313, 6.79038653e-313]],

       [[6.79038653e-313, 9.76118064e-313, 2.37663529e-312, ...,
         2.14321575e-312, 2.46151512e-312, 2.12199579e-313],
        [6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         6.79038653e-313, 6.79038653e-313, 6.79038653e-313],
        [6.79038653e-313, 6.79038653e-313, 6.79038653e-313, ...,
         2.48273508e-312, 2.22809558e-312, 2.18565567e-312],
        [2.16443571e-312, 2.29175545e-312, 1.23075756e-312, ...,
         2.14321575e-312, 2.01589600e-312, 2.56761491e-312],
        [1.29441743e-312, 2.41907520e-312, 2.14321575e-312, ...,
         2.12199579e-312, 2.10077583e-312, 2.29175545e-312]],

       [[6.79038654e-313, 2.22809558e-312, 2.29175545e-312, ...,
         6.79038653e-313, 9.54898106e-313, 9.54898106e-313],
        [9.54898106e-313, 9.54898106e-313, 6.79038653e-313, ...,
         2.10077583e-312, 2.29175545e-312, 2.22809558e-312],
        [2.18565567e-312, 2.44029516e-312, 2.29175545e-312, ...,
         2.01589600e-312, 2.12199579e-312, 2.10077583e-312],
        [2.29175545e-312, 2.01589600e-312, 2.12199579e-312, ...,
         6.79038653e-313, 6.79038653e-313, 2.54639495e-312],
        [2.14321575e-312, 2.46151512e-312, 1.40051722e-312, ...,
         9.54898106e-313, 6.79038653e-313, 6.79038653e-313]]])

In [37]:
dna_dims.shape

(5, 5, 336)

In [39]:
for idx1 in range(len(dna_seqs)):
    seq1 = dna_seqs[idx1]
    for idx2 in range(len(dna_seqs)):
        seq2 = dna_seqs[idx2]
        for nt in range(len(seq1)):
            if seq1[nt] == seq2[nt]:
                dna_dims[idx1, idx2, nt] = 1
            else:
                dna_dims[idx1, idx2, nt] = 0

In [41]:
dna_dims[1, 1, :]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [47]:
np.sum(dna_dims[1, 3, :])

94.0

In [49]:
phone_book = {"Names": ["Mike", "Daniel", "Ellie", "Heather"],
             "Office": ["6.17", "5.23", "3.20", "3.18"],
             "Department": ["Immunology", "Neuroscience", "Developmental Biology", "Immunology"]}
pb_df = pd.DataFrame(phone_book)

In [51]:
pb_df

     Names Office             Department
0     Mike   6.17             Immunology
1   Daniel   5.23           Neuroscience
2    Ellie   3.20  Developmental Biology
3  Heather   3.18             Immunology

In [55]:
pb_df.shape

(4, 3)

In [57]:
type(pb_df)

pandas.core.frame.DataFrame

In [59]:
import re

In [63]:
tata_re = re.compile("TATA[A|T]A[A|T]")
tata_re

re.compile(r'TATA[A|T]A[A|T]', re.UNICODE)

In [65]:
bact_seq = "CACTTCAGGTTAAGCGGCGCGGCCTGCGCATTTTGGATATATATAATCCT"
tata_match = tata_re.search(bact_seq)
tata_match